
<div class="vertical-menu">
<a href="#" class="active">Home</a>
<a href="/estaticas/index">MENU CONTACTO</a>
<a href="/estaticas/home">MENU SOBRE MI</a>
</div>

<h1>Página principal</h1>

<p>bienvenido a mi pagina</p>
