<h1>Home#index</h1>
<div class="vertical-menu">
<a href="#" class="active">Home</a>
<a href="/estaticas/index">MENU CONTACTO</a>
<a href="/estaticas/home">MENU SOBRE MI</a>
</div>

<p>Find me in app/views/home/index.html.erb</p>
<p>bienvenido a mi pagina</p>

#<a href="/estaticas/index">CONTACTO</a>
#<a href="/estaticas/home">SOBRE MI</a>